<!doctype htmt>

<html>
    
    <head>
        <title> Assignment 1  </title>
        
        
       <div class="fb-post" data-href="https://www.facebook.com/hbarchitects11/" data-width="500" data-show-text="true"></div>
        
        
        <link rel="stylesheet" href="/Projects1/Script/curve.js">
        <link rel="stylesheet" href="/Projects1/Styles/style.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        
        
    </head>
        <body background ="/Image/blue.jpg"  class= "bg">
          
            
            <h1> HB ARCHITECTS </h1>
            
            <div class="fb-follow" data-href="https://www.facebook.com/hbarchitects.11" data-layout="standard" data-size="small" data-          show-faces="true">HB ARCHITECTS</div>
            
          
                    

  <div id="fb-root"></div>
            <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
            </script>
                    

                      <!-- Your like button code -->
                      <div class="fb-like" 
                        data-href="http://www.FACEBOOK.com/HBARCHITECTS.11" 
                        data-layout="standard" 
                        data-action="like" 
                        data-show-faces="true">
                      </div>

            
            
            
            <div class = "table1">
            
            <table id ="sampleTable" class ="table table-hover" background= "/Image/table.jpg" border="10">
                
              
                
                <thead>
                
                <caption><h1> 
                    <marquee behavior="scroll" direction="">Assignment Project 1 </marquee>
                   </h1> </caption>
                    
                   
                 <tr>
                    <th class="italy">Links</th>
                    <th> Description</th>
                </tr>
                 </thead>
                
                <tbody>
                    
                
                   <tr>
                    <td>
                        <a href ="/Views/index.html" id = "cat" class = "italy" link="red">Index File Project </a>
                    </td>
                    <td class = "zoom" >First Html </td>
                </tr>
                
                  <tr>
                    <td><a href ="/Views/forms.html"><marquee behavior="alternate" direction="left">Form Projects</marquee> </a></td>
                    <td class="zoom"> To Submit form with first name and last name and date of birth</td>
                </tr>
                    
                <tr>
                    <td><a href ="/Views/link.html"><marquee behavior="alternate" direction="right">Link Project</marquee> </a></td>
                    <td class="zoom"> To Submit form with first name and last name and date of birth</td>
                </tr>
                    
                    
             
                 <tr>
                    <td><a href = "/Views/orderlist.html"><marquee behavior="alternate" direction="right">Order/Unordered Project</marquee>  </a></td>
                    <td class="zoom"> Orderlist with name and unordered list </td>
                </tr>
                <tr>
                    <td><a href = "/Views/table.html" target="_blank"><marquee behavior="alternate" direction="right">Sample Table </marquee></a></td>
                    <td class="zoom"> Create table with table and import css from the bootstrap. css </td>
                </tr>
            </tbody>
            
            
            </table>
                
              
                
           </div>
             <p>
                 
                 Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.


    Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
        Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br UsageHow does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
            Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

                 Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.


    Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
        Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br UsageHow does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.
                 Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.


    Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
        Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br UsageHow does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
            Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
                Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
                    

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
            Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
                 Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.


    Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:
 <h1 color="white"> <a href = "#cat"  >Index list </a>  </h1>
Example 2.5. Incorrect br Usage
        Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br UsageHow does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
            Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
                Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
                    
                Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
                    
As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
                Unlike the p element, the br element does not enclose any other HTML. There is no such thing as a closing </br> element. Also note that we don’t have to put a final br element on the last line of each dialogue exchange. The <p> element will take care of the last line break for us. So now we’ve separated each speaker with a new line.

How does this look? (Try it.) Now each line of dialogue is on its own line on the page. The lines are considerably easier to read.

As with the p element, many web designers use br incorrectly. You’ll often see code that looks like this:

Example 2.5. Incorrect br Usage
                    
                    
            </p>    
 
        
    <script type "text/javascript" src="/Script/curve.js"></script>
    </body>
    
    
</html>