<!doctype htmt>

<html>
    
    <head>
        <title>Ordered / Unordered
    </title>
        <link rel="stylesheet" href="/Projects1/Styles/style.css">
       
    </head>
    
        <body>
            <h1> Form to database </h1>
                <form name = "sample_form" action="/Views/index.html" id= "sampeForm">
                 Fisrt Name:
                 <input type= "text"  method="get" name= "firstName" id= "firstName" class="container"
                 placeholder="Enter name" required>
                 
                 <br>
                 Last Name:
                  <input type= "password" name= "lastName" id= "lastName" class = "container" placeholder="Enter Last Name" required>
                 <br>
                 DOB:
                 <input type= "date" name= "dob2" id= "dob" required>
                 <br>
                 <button id= "submit"> SUBMIT</button>
                  
                 
                 
    </form>
          
    
    </body>
    
    
</html>