<!doctype html>
<html>
<head>
        <title>First Ui Project</title> 
            <script>
                function sampple2(x){
                    console.log(x);
                    
                }
                sampple2("hello world ");
    </script>
        
            <style>
                h2{color:blue; }
                h3{color:yellow; }
            </style>
    
    <link rel="stylesheet" href="../Styles/style.css">
    
    </head>
    <body>
        
        <h1 style="color:red" font-size:12px;>First Project</h1>
         <h2>Second Header Project</h2>
         <h3>Third Header Project</h3>
         <h4>Fourth Header</h4>
         <h5>Fifth Header</h5>
         <h6>Sixth Header</h6>
        <h7>seventh </h7>
         
            <div id= "toilet" class="container">
            <p> Sample Container for toilet stuffs </p>
            </div>
        <div id= "kitchen" class="container">
            <p> Sample Container for kithen stuffs </p>
            </div>
        <div class= "container">
            <p> Sample Container for book </p>
            </div>
        
        
        <span>
        
        </span>
        
        <script type "text/javascript" src="/Script/curve.js"></script>
    </body>
</html>