<!doctype htmt>

<html>
    
    <head>
        <title>Ordered / Unordered
    </title>
        <link rel="stylesheet" href="/Styles/style.css">
       
    </head>
    
        <body>
            <h1> OrderList</h1>
                <ol>
                    <li> Cat </li>
                    <li> fat </li>
                    <li> rat </li>
                    <li> mat </li>
                    <li> tat </li>
                    <li> hat </li>
                    <li> sat </li>
                </ol>
            
             <h1> Unordered List</h1>
                <ul>
                    <li> Cat </li>
                    <li> fat </li>
                    <li> rat </li>
                    <li> mat </li>
                    <li> tat </li>
                    <li> hat </li>
                    <li> sat </li>
                </ul>
    
    </body>
    
    
</html>