<!doctype htmt>

<html>
    
    <head>
        <title>Tables  </title>
        <link rel="stylesheet" href="/Styles/style.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        
    </head>
        <body>
            <h1> Tables</h1>
            
            
            
            <table id ="sampleTable" class ="table table-hover">
                <thead>
                
                    <caption>Pleas insert </caption>
               
                
                <tr>
                    <th> First Name</th>
                    <th> Last Name</th>
                </tr>
                 </thead>
                
                <tbody>
                
                   <tr>
                    <td>Shrawan</td>
                    <td> Shrestha</td>
                </tr>
                
                  <tr>
                    <td>Priya</td>
                    <td> Shrestha</td>
                </tr>
            
            </tbody>
            
            
            </table>
           
                 
 
          
    
    </body>
    
    
</html>