<!DOCTYPE html>

<html>
    
    <head>
        <title>JQuery Stuff 
        </title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
       
        
        
        
        
        
    </head>
    
        <body>
            <h1>Jquery </h1>
            
            <form name="person" class="form-group">
            
            <div class="row">
                
                <div class="col-md-2">
                
                    <input type="text" class="form-control" placeholder="first name">
                
                
                </div>
                
                
                </div>
                
                 <div class="row">
                
                <div class="col-md-2">
                
                    <input type="text" class="form-control" placeholder="last name">
                
                
                </div>
                
                
                </div>
            
                   <div class="row">
                
                <div class="col-md-2">
                
                    <input type="text" class="form-control" placeholder="address">
                
                
                </div>
                
                
                </div>
            
                 <div class="row">
                
                <div class="col-md-2">
                
                    <button id="submit" class="form-control">Submit</button>
                    <button id="submit" class="form-control">Canel</button>
                
                </div>
                
                </div>
            
                   <div id="results">
                
                <div class="row">
                
                    <div class="col-md-2">First Name</div> 
                    <div class="col-md-2">Last name</div> 
                    <div class="col-md-2">Address</div> 
                </div>
                
                </div>
            
            
            
            </form>            
            
            
           <script src="/node_modules/jquery/dist/jquery.js"></script>
             <script src="/project4/script/jq.js"></script>
             <script src="/project4/script/eventh.js"></script>
            <script> 
        
        $(document).ready(function(){
            alert("jquery working:")
        });
        </script>
    </body>
    
    
</html>